@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;600;700;900&display=swap');

:root {
  --font-anybody: 'Anybody', sans-serif;
}

html {
  background-color: #ffffff;
}

body {
  color: #111827;
  background-color: #ffffff;
}
